.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# publishing
*/bin/Debug/net6.0/publish/*
*/obj/Debug/net6.0/publish/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix